#cel, #far{
    width: 50px;
    
}

form.semBloco label{
    display:inline;
    margin-left: 5px;
	
}

button#alterar{
    color: #DCDCDC;
	font-family: 'Fjalla One', sans-serif, 'Anton', sans-serif;
	font-size: 30px;
	margin-top: 30px;
	margin-left: 58px;
	background-color: #696969;
}

button#alterar:hover{
	background-color:  #00FF00;
	color: black;
	font-family: 'Fjalla One', sans-serif, 'Anton', sans-serif;
}

button#calcular{
    color: #DCDCDC;
	font-family: 'Fjalla One', sans-serif, 'Anton', sans-serif;
	font-size: 30px;
	margin-top: 100px;
	margin-left: 45px;
	background-color: #696969;
}
