
    @import url('https://fonts.googleapis.com/css?family=Fjalla+One');
    
    
p{
    border: 2px white solid;
    color:white;
    font-size: 22px;
    font-weight: 700;
    padding: 20px;
    text-align: center;
	font-family: 'Fjalla One', sans-serif, 'Anton', sans-serif;
}

#coeficiente_b{
	margin-left: 10px;
}
#coeficiente_c{
	margin-left: 25px;
}